{% extends 'base.html' %}
{% block title %}Requests{% endblock title %}

{% block body %}
<main class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      {% if friend_requests %}
        <h4 class="section-title mt-0">Friend requests <span class="pill-count">{{ friend_requests.count }}</span></h4>
        <div class="row g-3">
          {% for i in friend_requests %}
            <div class="col-sm-6 col-lg-4 removable">
              <div class="card req text-center p-3 h-100">
                <span class="av av-lg mx-auto" id="avatarPrev"
                  style="--h:20;{% if i.follower.img %}background-image:url('{{ i.follower.img.url }}');background-size:cover;background-position:center;{% endif %}">
                  {% if not i.follower.img %}{{ i.follower.username|first|upper }}{% endif %}
                </span> 
                <a class="name d-block mt-2" href="{% url 'profile' i.follower.id %}">{{i.follower.username}} {% if i.follower.verified %} <i class="bi bi-patch-check-fill verified" title="Verified"></i>{% endif %}</a>
                <small class="muted">({{mutual_friends|length}}) mutual friends</small>
                <div class="req-actions d-flex gap-2 mt-3 justify-content-center">
                  <form action="{% url 'connection' i.follower.id %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="next" value='{{request.get_full_path}}'>
                    <button class="btn btn-brand flex-fill" type='submit' >Confirm</button>
                    <button class="btn btn-soft flex-fill" type='submit' name='action' value='remove' data-dismiss>Delete</button>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
      {% if sent_requests %}
        <h4 class="section-title">Sent requests <span class="pill-count">{{ sent_requests.count }}</span></h4>
        <div class="card"><div class="card-body py-1">
          {% for i in sent_requests %}
            <div class="person removable">
              <span class="av" id="avatarPrev"
                style="--h:200;{% if i.following.img %}background-image:url('{{ i.following.img.url }}');background-size:cover;background-position:center;{% endif %}">
                {% if not i.following.img %}{{ i.following.username|first|upper }}{% endif %}
              </span> 

              <div class="flex-grow-1">
                <a class="name" href="{% url 'profile' i.following.id %}">{{i.following.username}}</a>
                {% if i.following.bio %}<small class="muted d-block">{{ i.following.bio }}</small> {% endif %}
              </div>
              <div class="d-flex gap-2">
                <form action="{% url 'connection' i.following.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="next" value='{{request.get_full_path}}'>
                  <button class="btn btn-soft" type='submit' data-dismiss>Cancel request</button>
                </form>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
      {% if related_people %}
        <h4 class="section-title">People you may know</h4>
        <div class="row g-3">
          {% for i in related_people %}
            <div class="col-sm-6 col-lg-4 removable">
              <div class="card req text-center p-3 h-100">
              <span class="av av-lg mx-auto" id="avatarPrev"
                style="--h:200;{% if i.img %}background-image:url('{{ i.img.url }}');background-size:cover;background-position:center;{% endif %}">
                {% if not i.img %}{{ i.username|first|upper }}{% endif %}
              </span> 
                <a class="name d-block mt-2" href="profile.html">{{i.username}} {% if i.verified %} <i class="bi bi-patch-check-fill verified" title="Verified"></i>{% endif %}</a>
                {% if i.bio %} <small class="muted">{{i.bio}}</small> {% endif %}
                <div class="req-actions d-flex gap-2 mt-3 justify-content-center">
                  <form action="{% url 'connection' i.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value='{{request.get_full_path}}'>
                    <button class="btn btn-brand" data-toggle="Add friend|Request sent">Add friend</button>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
</div></div></main>
{% endblock body %}